name: deal.II v9.4

on:
  push:
    branches: [ master ]
workflow_dispatch:
    inputs:
      ref:
        description: "Optional git ref (branch/tag/SHA)."
        required: false
        default: ""

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: setup
      run: |
         REF='${{ inputs.ref || github.ref }}'

         command="sudo apt-get -y update && \
                  sudo apt-get -y upgrade && \
                  sudo apt-get -y install libboost-all-dev && \
                  git clone https://git@github.com/${{ github.repository }} && \
                  cd matrix-free-dealii-precice && \
                  git fetch origin \"$REF\" && \
                  git checkout FETCH_HEAD && \
                  mkdir build && cd build && \
                  cmake .. && make all";

         echo $command

         docker pull dealii/dealii:v9.4.0-jammy
         docker pull precice/precice:latest
         docker build -t dealii-precice:develop -f ./utilities/Dockerfile.dealiiv94 .
         docker run -t dealii-precice:develop /bin/sh -c "$command";
