name: deal.II v9.6
on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      ref:
        description: "Optional git ref (branch/tag/SHA)."
        required: false
        default: ""

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: dealii/dealii:v9.6.2-noble
      options: --user root
    timeout-minutes: 45

    steps:
      - name: prepare container
        run: apt-get -y update && apt-get -y upgrade && apt-get -y install libboost-all-dev

      - name: build preCICE
        uses: precice/setup-precice-action@main
        with:
          precice-version: develop
          install-prefix: /usr/local

      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.ref }}
          fetch-depth: 0

      - name: Adjust user rights
        run: |
          chown -R dealii .
          cd tests/
          echo "WORK_DIR=$(pwd)" >> $GITHUB_ENV

      - name: run test
        run: |
          cd $WORK_DIR && sudo -u dealii ./run_tests.sh
        env:
          WORK_DIR: ${{ env.WORK_DIR }}
