name: Indent

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: '.'
        exclude: ''
        extensions: 'h,cc'
        clangFormatVersion: 14
        inplace: true
    - run: |
        git diff
        git diff-files --quiet || exit $?
